/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  /*color: #222;*/
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font: 1.6rem/1.0 arial;
  background-color: #c6d0de;
  min-width: 500px;
  max-width: 1920px;
}

header, main, footer {

}

header {
  background-color: #2a4158;
  opacity: 80%;
  padding: 2%;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*---------------HEADER + NAV----------------*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.menu-links {
  line-height: 40px;
  text-align: center;
}


h1 a {
    font: 400 3.6rem/1.2 arial;
    font-family: 'Charmonman', cursive;
}

h1 a span {
  font-weight: 700;
  margin-left: 2rem;
}

a {
  text-decoration: none;
  width: inherit;
}

.menu-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.menu-links li {
  width: 10rem;
}

/* unvisited link and visited link*/
header a:link,
header a:visited {
  color: #fff;
}

/* mouse over link and selected link*/
header a:hover,
header a:active {
  transition-duration: 0.2s;
  color: #b3c9d9;
}

/*---------------MAIN GENERAL---------------*/
main {
  margin-top: 15rem;
}

main h2 {
  margin: 2%;
  font: 500 3.6rem/1.2 arial;
  color: #2a4158;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  text-align: center;
}

/*---------------HOME----------------*/

#home .container div {
  background-color: #ebedef;
  border: 1px solid #2a4158;
  margin: .5rem;
  padding: 1rem;
  color: #313943;
  text-align: center;
}

#home h3 {
  font: 500 2rem/1.2 arial;
  color: #2a4158;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}

#home ion-icon {
  font-size: 3.6rem;
  color: #2a4158;
}

#home p {
  font: 300 1.6rem/1.2 arial;
  color: #2a4158;
  font-family: 'Dosis', sans-serif;
  text-align: justify;
}

/*---------------BREAK LINE----------------*/

.break-line {
  text-align: center;
}

.break-line img {
  width: 150px;
}

/*---------------SERVICE----------------*/

#service img {
  width: 100%;
  max-height: 500px;
}

.inline > div {
  margin: 2%;
  width: 100%;
  background-color: #fff;
}

.inline .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline h3 {
  font: 500 2.6rem/1.2 arial;
  color: #2a4158;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
  margin: 0 3%;
}

#service li {
  font: 300 2.6rem/1.2 arial;
  color: #2a4158;
  font-family: 'Dosis', sans-serif;
  text-align: center;
}

/*---------------GALLERY----------------*/
#gallery > div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mySlides img {
  width: 500px;
  height: 500px;
}

.column img {
  float: left;
  width: 83.33px;
  height: 83.33px;
}

.container {
  position: relative;
}

.mySlides {
  display: none; /*default: hidden*/
}

.cursor {
  cursor: pointer;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  width: 500px;
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: #fff;
  font: 300 2rem/1.5 arial;
  font-family: 'Dosis', sans-serif;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/*---------------BLOG----------------*/


/*---------------CONTACT----------------*/
#contact .store-info p {
  width: 300px;
  text-align: left;
  font: 300 2rem/1.2 arial;
  color: #2a4158;
  font-family: 'Dosis', sans-serif;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#contact .store-info span {
  font-weight: 800;
}

#contact .store-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 2rem;
}

.social-media {
  text-align: center;
  margin-top: 4rem;
}

.social-media h3, .social-media a {
  font: 400 2.6rem/1.2 arial;
  color: #2a4158;
  font-family: 'Dosis', sans-serif;
  text-transform: uppercase;
}

.social-media a {
  font-size: 4rem;
}

.social-media ul li {
  margin-left: 2rem;
}

.social-media ul {
  margin: 2%;
  display: flex;
  justify-content: center;
}

.social-media a:link,
.social-media a:visited {
  color: #2a4158;
}

/* mouse over link and selected link*/
.social-media a:hover,
.social-media a:active {
  transition-duration: 0.2s;
  color: #fff;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 600px){
  /* Style adjustments for viewports that meet the condition */
  #home .container {
    display: flex;
    justify-content: space-around;
  }
  #home .container div {
    width: 30%;
  }

  #home {
    margin: 0;
  }

  .inline > div {
    margin: 0;
    width: 50%;
  }

  .inline {
    display: flex;  
    justify-content: center;
  }

  .inline:first-child, .inline:last-child {
    flex-direction: row-reverse;
  }

  .address > div{
    width: 50%;
  }

  .address {
    display: flex;
    justify-content: space-between;
  }

  /* Style adjustments for high resolution devices */
}

@media only screen and (min-width: 1024px){
  /* Style adjustments for viewports that meet the condition */
  .nav-bar, .menu-links {
    display: block;
    align-items: left;
  }

  .menu-links {
    margin-left: 2rem;
  }

  .menu-links li {
    text-align: left;
    width: 100%;
  }

  header h1 {
    margin-bottom: 2rem;
  }

  header {
    text-align: left;
    position: fixed;
    height: 100%;
    width: 25rem;
    padding-left: 4rem;
  }

  main{
    margin-top: 2rem;
    margin-left: 25rem;
  }

  main h2:first-child {
    margin-top: 0;
  }

  .inline {
    margin: 0 auto;
    max-width: 1100px;
  }
  /* Style adjustments for high resolution devices */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

